.header{
    background-color: #232323EE;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.header>a {
    justify-self: center;
}
.header.affix{
    background-color: #23232300;
    margin-top: 10px;
}

.header ul{
    list-style: none;
    padding: 0 0 0 50px;
    margin: 20px 50px 0 0;
    -webkit-transition: max-height .3s;
    transition: max-height .3s;
    overflow: hidden;
    max-height: 300px;
}
.header ul>li{
    padding: 5px;
    display: inline;
}
.logo-with-menu{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 900px) {
    .logo-with-menu{
        flex-direction: column;
    }
    .header ul{
        padding-left: 10px;
    }
    .header ul.compacted{
        max-height: 0;
    }
    .header ul>li{
        display: block;
    }
}
.compactBtn{
    margin-left: auto;
    margin-right: 30px;
    background: #fff;
    border-radius: 2px;
    display: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    padding: 5px 8px;
}

@media screen and (max-width: 900px) {
    .compactBtn{
        display: block;
    }

}
.headerButton{
    border: 2px solid #FFF0;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 18px;

    transition: all .15s ease-out;
    
    font-family: 'Karla';
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;

    cursor: pointer;
}
.headerButton:hover{
    color: #c90000;
    border-bottom: 2px solid #FFF;
}
.headerButton.active{
    color: #c90000;
    border-bottom: 2px solid #FFF;
}

@media screen and (max-width: 900px) {

    .headerButton{
        padding-left: 5px;
    }
    .headerButton:hover{
        color: #c90000;
        border-bottom: 2px solid #FFF;
    }
}